body{
    font-family: 'Caladea', serif;
    box-sizing: border-box;
}
*::selection{
    background-color: gold;
    color: greenyellow;
}
.navbar-brand {   
font-family: 'Cinzel', serif;
font-size: x-large !important;
}
#header {
    background-image: url("../img/Dead-Star-space-planet-universe_1440x900.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 42rem;
    background-position: center;
}
h1{
    margin-top: 25vw;
}
#games-font{
    font-family: 'Press Start 2P', cursive;
}
#arts{
    font-family: 'Lobster', cursive;
}
#acerca-de-mi{
    max-width: 100vw;
}
html{
    scroll-behavior: smooth;
}
footer {
   background-color: black;
}
#MisTrabajos{
    height: 100%;
    background-color: #34495E;
    box-sizing: border-box;
    max-height: initial;
}
#contacto{
    background-color: #186A3B;
}
#contacto h4{
    font-family: 'Cinzel', serif;
}
.last-h4 {
    font-size: xx-large;
}
#divMyFace{
     background-image: url("../img/WhatsApp\ Image\ 2020-05-19\ at\ 6.12.10\ PM.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 30rem;
    background-position: top;
}
.cool{
    height: 27vw;
    width: 18vw;
     border-color: blanchedalmond;
     border-radius: 0.25rem;
}
.last-p{
    font-family: 'Lobster', cursive;
    font-size: xx-large;
}
.karousel{
    max-height: 50%;
}
.fotos{
    width: inherit;
    height: 400px;
}
/*____________________ formmmmm_____________________*/
fieldset{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    
}
input, textarea{
    margin: 0 30%;
    width: 40%;
    border-radius: 10px;
    border: darkturquoise solid 2px;
    padding: 0 1rem;
}
#submit{
    width: 16%;
    margin: 0 42%;
    background-color: darkturquoise;
    color: white;
}
input:focus,textarea:focus{
    border: 3px solid gold;
    border-radius: 0;
}
legend{
    background-color: darkturquoise;
    color: white;
    text-transform: lowercase;
    font-family: 'Lobster', cursive;
    border-radius: 10px;
    position: relative;
    right: 18rem;
    width: 400px;
}
legend::first-letter{
    text-transform: uppercase;
}
